<div class="container" style="margin:0 auto;">
	<h1>Artículos</h1>
	<div class="row">
	<!--Add a partial of the articles-->
		<%= render @articles %>
	</div>
	<div class="top-space text-center">
		<!--This is from the gem "will_paginate"-->
		<%= will_paginate @article %>	
	</div>
</div>


