<%= form_for(@article) do |f|%>
	<div class="field">
		<%= f.text_field :title, placeholder:"Título" %>
	</div>
	<div class="field">
		<%= f.text_area :body, placeholder:"Escribe aquí el articulo" %>
	</div>
<% end %>